name: Code Quality
on: [pull_request]

jobs:
  code-quality-linux-x86_64:
    name: krunvm (Linux x86_64)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup build environment
        uses: ./.github/actions/setup-build-env

      - name: Clippy (default)
        run: cargo clippy --locked -- -D warnings

  code-quality-linux-aarch64:
    name: krunvm (Linux aarch64)
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v4

      - name: Setup build environment
        uses: ./.github/actions/setup-build-env

      - name: Clippy (default)
        run: cargo clippy --locked -- -D warnings

  code-quality-macos:
    name: krunvm (macOS aarch64)
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup build environment
        uses: ./.github/actions/setup-build-env
      
      - name: Clippy
        run: cargo clippy --locked -- -D warnings
