name: Code Quality
on: [pull_request]

jobs:
  code-quality-macos:
    name: krunvm (macOS aarch64)
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup build environment
        uses: ./.github/actions/setup-build-env
      
      - name: Clippy
        run: cargo clippy --locked -- -D warnings
